body {
	 background-color: White;  
	 background-image: url("https://images4.alphacoders.com/150/150168.jpg");
     background-size: cover;
     font-family: sans-serif;
     color: blue;
     
      
}


